<div class="col-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Basic form elements</h4>
			<form class="forms-sample" action="/admin/createProduct"
				th:method="POST">
				<div class="form-group">
					<label for="exampleInputName1">Tên Sản Phẩm</label> <input
						type="text" class="form-control" id="exampleInputName1"
						placeholder="Name Product" name="nameProduct">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail3">Loại sản phẩm</label> <select
						name="idCategory" class="form-control" id="exampleSelectGender">
						<option th:each="category : ${categoryList}"
							th:value="${category.id}" th:text="${category.name}"
							th:if="${category.active}"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="exampleSelectGender">Giá tiền</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text bg-primary text-white">$</span>
						</div>
						<input type="text" class="form-control"
							aria-label="Amount (to the nearest dollar)" name="priceProduct">
						<div class="input-group-append">
							<span class="input-group-text">VNĐ</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputQuantity">Số lượng</label> <input
						type="text" class="form-control" id="exampleInputQuantity"
						placeholder="Quantity" name="quantityProduct">
				</div>
				<div class="form-group">
					<label for="exampleSelectGender">Nhãn hàng</label> <select
						name="idBrand" class="form-control" id="exampleSelectGender">
						<option th:each="brand : ${brandList}"
							th:value="${brand.id_brand}" th:text="${brand.name_brand}"
							th:if="${brand.active_brand}" name="idBrand"></option>
					</select>

				</div>
		
		<!--  		<div class="form-group">
					<label for="image">Hình ảnh</label> <input type="file" name="image"
						class="file-upload-default" multiple>
					<div class="input-group col-xs-12">
						<input type="file" class="form-control file-upload-info"
							placeholder="Upload Image" accept="image/*" multiple> <span
							class="input-group-append">
							<button class="file-upload-browse btn btn-primary" type="button">Upload</button>
						</span>
					</div>
				</div>
-->

				<div class="form-group">
					<label for="exampleTextarea1">Chi tiết sản phẩm</label>
					<textarea class="form-control" id="exampleTextarea1" rows="4"
						name="Detail"></textarea>
				</div>
				<div class="form-group">
					<div class="form-check">

						<label class="form-check-label"> <input type="checkbox"
							class="form-check-input" name="activeProduct" value="1">
							Active
						</label>
					</div>

				</div>
				<button type="submit" class="btn btn-primary mr-2">Submit</button>
				<button class="btn btn-light">Cancel</button>
			</form>
		</div>
	</div>
</div>