<table class="table table-hover"
	th:if="${#lists.isEmpty(cartList) == false}">
	<thead>
		<tr>
			<th>Index</th>
			<th>Product</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Discount</th>
			<th>Total</th>
			<th>Remove</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="cart,index:${cartList}">
			<td th:text="${index.index+1}">index</td>
			<td>
				<p th:text="${cart.nameProduct}"></p> <img th:if="${cart.Image}"
				style="width: 80px; height: 80px"
				th:src="@{'/images/'+${cart.Image}}" alt="" />
			</td>
			<td><input type="number" th:value="${cart.Quantity}" class="quantity-input" th:data-cart-id="${cart.idCart}" min="1" /></td>
			<td th:text="${cart.priceProduct}"></td>
			<td><p th:text="'-'+${cart.discount}" th:if="${cart.discount}!=null"></p><p th:if="${cart.discount}==null">-0 VNĐ</p></td>
			<td><p th:text="${cart.priceDiscount}" th:if="${cart.discount}!=null"></p><p th:text="${cart.priceProduct}" th:if="${cart.discount}==null"></p></td>
			<td>
				<button type="submit" th:value="${cart.idCart}" name="idCart">x</button></td>

		</tr>

	</tbody>
</table>
</form>
<div th:if="${#lists.isEmpty(cartList)}">
	<p class="text-danger" th:text="${message}"></p>
</div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
	<a href="/checkout"><button type="button" class="btn btn-success">Purchase</button></a>
	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('.quantity-input').on('change', function() {
        	var cartId = $(this).data('cart-id');
        	var newQuantity = parseInt($(this).val());
        	console.log(cartId);

            // Gửi dữ liệu đi bằng AJAX
            $.ajax({
                url: '/updateQuantity', // Địa chỉ URL của endpoint xử lý cập nhật giỏ hàng
                method: 'POST',
                data: {
                    cartId: cartId,
                    newQuantity: newQuantity
                },
                success: function(response) {
                    // Xử lý kết quả trả về nếu cần
                    console.log('Cập nhật giỏ hàng thành công!');
                },
                error: function(xhr, status, error) {
                    console.error('Đã xảy ra lỗi: ' + error);
                }
            });
        });
    });
</script>
