<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-grid ">
			<h3>Menu</h3>
			<ul>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/product]}">Product</a></li>
				<li><a th:href="@{/contact}">Contact</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid">
			<h3>Location</h3>
			<ul>
				<li><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2019477140757!2d106.67578097580144!3d10.795839389354141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175290e624afc3f%3A0x9b86bdb4da236d06!2zQVBURUNIIFNBSUdPTiAtIEjhu4YgVEjhu5BORyDEkMOATyBU4bqgTyBM4bqsUCBUUsOMTkggVknDik4gUVXhu5BDIFThur4gVOG6oEkgSENN!5e0!3m2!1svi!2s!4v1713817838238!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></li>
				

			</ul>
		</div>
		<div class="clearfix"></div>
		<div class="footer-bottom">
			<h2>
				<a href="index.html"><b>T<br>H<br>E
				</b>Big Store<span>The Best Supermarket</span></a>
			</h2>
			<p class="fo-para">Lorem ipsum dolor sit amet, consectetur
				adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				exercitation ullamco laboris</p>
			<ul class="social-fo">
				<li><a href="#" class=" face"><i class="fa fa-facebook"
						aria-hidden="true"></i></a></li>
				<li><a href="#" class=" twi"><i class="fa fa-twitter"
						aria-hidden="true"></i></a></li>
				<li><a href="#" class=" pin"><i class="fa fa-pinterest-p"
						aria-hidden="true"></i></a></li>
				<li><a href="#" class=" dri"><i class="fa fa-dribbble"
						aria-hidden="true"></i></a></li>
			</ul>
			<div class=" address">
				<div class="col-md-4 fo-grid1">
					<p>
						<i class="fa fa-home" aria-hidden="true"></i>Hệ Thống Đào tạo Lập Trình Viên Quốc Tế Aptech, 102 Nguyễn Đình Chính, Phường 15, Phú Nhuận, Thành phố Hồ Chí Minh
					</p>
				</div>
				<div class="col-md-4 fo-grid1">
					<p>
						<i class="fa fa-phone" aria-hidden="true"></i>+1234 758 839 ,
						+1273 748 730
					</p>
				</div>
				<div class="col-md-4 fo-grid1">
					<p>
						<a href="mailto:info@example.com"><i class="fa fa-envelope-o"
							aria-hidden="true"></i>aptech@gmail.com</a>
					</p>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
		<div class="copy-right">
			<p>
				&copy; 2024 APTECH SAIGON
			</p>
		</div>
	</div>
</div>
<!-- //footer-->

<!-- smooth scrolling -->

<a href="#" id="toTop" style="display: block;"> <span
	id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!-- for bootstrap working -->



		
					