<link href="/client/css/font-awesome.css" rel="stylesheet"> 
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="/client/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/client/css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/client/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />

