<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<div th:replace="~{common/_style}"></div>
<title>Image Product</title>
</head>
<body>
	<div th:replace="~{common/_layoutHeader}"></div>
	<div class="col-ml-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<form class="forms-sample" th:method="get" id="categoryForm">
					<div class="form-group">
						<label for="exampleInputID">ID Product</label> <input type="text"
							name="id" class="form-control" id="exampleInputID" readonly
							th:if="${findProduct != null}"
							th:value="${findProduct.idProduct}">

					</div>
					<div class="form-group">
						<label for="exampleInputUsername1">Name Product</label> <input
							type="text" name="name" class="form-control"
							id="exampleInputUsername1" placeholder="Name Category"
							readonly="readonly" th:if="${findProduct != null}"
							th:value="${findProduct.nameProduct}">

					</div>
				</form>
				<form class="forms-sample" th:action="@{/admin/addImages}"
					th:method="post" id="categoryForm" enctype="multipart/form-data">
					<input type="hidden" th:value="${findProduct.idProduct}" name="id" />
					<div class="form-group">
						<label>File upload</label> <input type="file" name="img"
							accept="image/*" class="file-upload-default" multiple="multiple">
						<div class="input-group col-xs-12">
							<input type="text" class="form-control file-upload-info"
								readonly="readonly" placeholder="Upload Image" name="imgText">
							<span class="input-group-append">
								<button class="file-upload-browse btn btn-secondary"
									type="button">Upload</button>
								<button class="btn btn-primary" type="submit">Add</button>
							</span>
						</div>


					</div>
				</form>

			</div>

		</div>
	</div>

	<form th:action="@{/admin/saveImage}" method="post"
		enctype="multipart/form-data">
		<h3 th:if="${imgList!=null}">Danh sách hình ảnh đã chọn:</h3>
		<div class="image-preview">
			<input type="hidden" th:value="${findProduct.idProduct}" name="id" />
			<div>
				<div th:replace="~{common/_layoutFormHeader}"></div>
				<thead>
					<tr>
						<th>Image</th>
						<th>Main</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="imgList:${listImg}">
						<td><img style="border-radius: 0%; height: 10%; width: 10%;" th:src="@{'/images/'+${imgList.Image}}"
							alt="" /></td>
						<td><input type="checkbox" class="checkboxForm" th:checked="${imgList.main == 1}" disabled></td>
						<td><!-- <a
							th:href="@{'/admin/images/delete/' + ${imgList.Image} + '?id=' + ${imgList.idProduct}}">Delete</a> -->
						</td>
					</tr>

					<tr th:each="image: ${images}">
						<td><img style="border-radius: 0%; height: 10%; width: 10%;"
							class="img" th:src="@{${image.url}}" alt="${image.name}"
							height="60px" /></td>
						<td><input type="checkbox" name="mainImg"
							th:value="${image.name}" onclick="toggleMain(this)" th:if="${mainCheck}==null"/></td>
						<td><a
							th:href="@{'/admin/images/delete/'+ ${image.name} + '?id=' + ${findProduct.idProduct}}">Delete</a>

						</td>
					</tr>

					<div th:replace="~{common/_layoutFormFooter}"></div>
					<button class="btn btn-primary" type="submit"
						th:if="${images!=null}">SAVE</button>
			</div>

		</div>



	</form>

	<div th:replace="~{common/_layoutFooter}"></div>
</body>
</html>
<script>
	function toggleMain(checkbox) {
		var isChecked = checkbox.checked;
		var mainImgInput = document.getElementById("mainImg");
		mainImgInput.value = isChecked ? 1 : 0;
	}

	$("input:checkbox").on('click', function() {
		// in the handler, 'this' refers to the box clicked on
		var $box = $(this);
		if ($box.is(":checked")) {
			// the name of the box is retrieved using the .attr() method
			// as it is assumed and expected to be immutable
			var group = "input:checkbox[name='" + $box.attr("name") + "']";
			// the checked state of the group/box on the other hand will change
			// and the current value is retrieved using .prop() method
			$(group).prop("checked", false);
			$box.prop("checked", true);
		} else {
			$box.prop("checked", false);
		}
	});
</script>
